.DS_Store

# Ignore editor workspace files
.vscode
.sublime-*
.atom
.editorconfig
.idea
.nyc_output
coverage
*.lcov
*.swp
*.swo

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
